on:
  workflow_dispatch:
    inputs:
      instance:
        description: 'Instance'
        required: true
        default: '00'
        type: choice
        options:
        - '00'
        - '01' 

jobs:
  setvariables:
    name: Set environment variables
    runs-on: ubuntu-latest
    outputs:
      group: ${{ steps.set-variable.outputs.group }}
      branch: ${{ steps.set-variable.outputs.branch }}
    steps:
    - name: Set environment for branch
      id: set-variable
      run: |
        if [[ ${{ inputs.instance }} == 00 ]]; then
          echo "group=vm00-runners" >> $GITHUB_OUTPUT
          echo "branch=testing" >> $GITHUB_OUTPUT
        elif [[ ${{ inputs.instance }} == 01 ]]; then
          echo "group=vm01-runners" >> $GITHUB_OUTPUT
          echo "branch=main" >> $GITHUB_OUTPUT
        fi
  deploy:
    name: Deployment Job
    needs: setvariables
    runs-on: ubuntu-latest
    steps:
    - name: Define queries
      run: |
        filelist=$(cat <<EOL
          M  MTA_assignment_builder
          M  MTA_assignment_builder_home_time_check
          M  MTA_assignment_builder_fleet
          EOL
          )
        echo "$filelist"
    - name: Deploy in Testing
      run: |
        echo "$filelist"
        echo " configuration: ${{needs.setvariables.outputs.branch}}"
        echo " configuration: ${{needs.setvariables.outputs.group}}"
